 body {
    background: linear-gradient(white, lightgreen);
    height: 100%;
    min-height: 95vh;
} 

.inp {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-bottom: 1.5px solid green;
    color: black;
    width: 80%;
}

.btn {
    padding: 10px;
    margin: 5px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    display: inline-block;
    cursor: pointer;
}

.list {
    padding: 10px;
    background-color: white;
    box-shadow: 0 8px 10px rgba(0, 0, 0, .5);
    border-radius: 0 5px 5px 0;
    margin: 5px;
}
